@model ProSwap.Models.Offer.OfferType.ServiceOffer.ServiceOfferDetails

@{
    ViewBag.Title = "ProSwap.io";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-container">

    <h1>Details</h1>

    <div>
        <h4>ServiceOfferDetails</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OfferId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OfferId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GameName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GameName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OwnerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OwnerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Body)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ServiceName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServiceName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ServiceDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServiceDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DaysToComplete)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DaysToComplete)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.OfferId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>