@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <div class="body-container">
        <h1>Hello, <strong>@ViewBag.Name</strong>.</h1><p><br />Welcome to the Admin Control Panel. <br />To get started, select an option below:</p>



        <div class="admin-inner-container">
            <div class="row feed">
                <br />@Html.ActionLink("Manage Roles", "Index", "Role")
                <br />@Html.ActionLink("Multi-Factor Authentication", "ManageLogins", "Manage")
                <br />@Html.ActionLink("Change Password", "Index", "Manage")
            </div>
        </div>
    </div>
}
else
{
    <div class="body-container">

        <h2>Hello, <strong>@ViewBag.Name</strong>. This is the user control panel.</h2>

        <li>@Html.ActionLink("Multi-Factor Authentication", "ManageLogins", "Manage")</li>
        <li>@Html.ActionLink("Change Password", "Index", "Manage")</li>


        <div class="container">
            <div class="row feed">
                <div class="col-sm-3"></div>
                <div class="col-sm-7"></div>
                <div class="col-sm-2"></div>
            </div>
        </div>

    </div>
}
