@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <div class="body-container">
        <p>Hello, <strong>@ViewBag.Name</strong>. Welcome to the admin control panel.</p>
            <li>@Html.ActionLink("Manage Roles", "Index", "Role")</li>
            <li>@Html.ActionLink("Multi-Factor Authentication", "ManageLogins", "Manage")</li>
            <li>@Html.ActionLink("Change Password", "Index", "Manage")</li>
    </div>
}
else
{
<div class="body-container">

    <h2>Hello, <strong>@ViewBag.Name</strong>. This is the user control panel.</h2>

    <li>@Html.ActionLink("Multi-Factor Authentication", "ManageLogins", "Manage")</li>
    <li>@Html.ActionLink("Change Password", "Index", "Manage")</li>
</div>

}
